  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Luckiest+Guy&family=Outfit&family=Poppins:ital@0;1&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
h1,h2{
  text-transform: uppercase;

}